<a href="https://colab.research.google.com/github/RISHOBGHOSH/Codes-of-mySQL/blob/main/Spark_Practice_Z2H.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Spark Session
from pyspark.sql import SparkSession # SparkSession class

spark = (                   # Spark session object
    SparkSession
    .builder
    .appName("Spark Introduction") # application name
    .master("local[*]")  # local is the location where master will work ,
                            # [*] is the number of of worker threads as logical cores on your machine
    .getOrCreate()
)

In [ ]:
spark

In [ ]:
# spark UI will give the jobs
# SQL/Dataframe will give us the codes running

In [ ]:
emp_data = [
    ["001","101","John Doe","30","Male","50000","2015-01-01"],
    ["002","101","Jane Smith","25","Female","45000","2016-02-15"],
    ["003","102","Bob Brown","35","Male","55000","2014-05-01"],
    ["004","102","Alice Lee","28","Female","48000","2017-09-30"],
    ["005","103","Jack Chan","40","Male","60000","2013-04-01"],
    ["006","103","Jill Wong","32","Female","52000","2018-07-01"],
    ["007","101","James Johnson","42","Male","70000","2012-03-15"],
    ["008","102","Kate Kim","29","Female","51000","2019-10-01"],
    ["009","103","Tom Tan","33","Male","58000","2016-06-01"],
    ["010","104","Lisa Lee","27","Female","47000","2018-08-01"],
    ["011","104","David Park","38","Male","65000","2015-11-01"],
    ["012","105","Susan Chen","31","Female","54000","2017-02-15"],
    ["013","106","Brian Kim","45","Male","75000","2011-07-01"],
    ["014","107","Emily Lee","26","Female","46000","2019-01-01"],
    ["015","106","Michael Lee","37","Male","63000","2014-09-30"],
    ["016","107","Kelly Zhang","30","Female","49000","2018-04-01"],
    ["017","105","George Wang","34","Male","57000","2016-03-15"],
    ["018","104","Nancy Liu","29","Female","50000","2017-06-01"],
    ["019","103","Steven Chen","36","Male","62000","2015-08-01"],
    ["020","102","Grace Kim","32","Female","53000","2018-11-01"]
]

emp_schema = "employee_id string, department_id string, name string, age string, gender string, salary string, hire_date string"

In [ ]:
# Create emp DataFrame

emp = spark.createDataFrame(data=emp_data, schema=emp_schema)

emp_data

[['001', '101', 'John Doe', '30', 'Male', '50000', '2015-01-01'],
 ['002', '101', 'Jane Smith', '25', 'Female', '45000', '2016-02-15'],
 ['003', '102', 'Bob Brown', '35', 'Male', '55000', '2014-05-01'],
 ['004', '102', 'Alice Lee', '28', 'Female', '48000', '2017-09-30'],
 ['005', '103', 'Jack Chan', '40', 'Male', '60000', '2013-04-01'],
 ['006', '103', 'Jill Wong', '32', 'Female', '52000', '2018-07-01'],
 ['007', '101', 'James Johnson', '42', 'Male', '70000', '2012-03-15'],
 ['008', '102', 'Kate Kim', '29', 'Female', '51000', '2019-10-01'],
 ['009', '103', 'Tom Tan', '33', 'Male', '58000', '2016-06-01'],
 ['010', '104', 'Lisa Lee', '27', 'Female', '47000', '2018-08-01'],
 ['011', '104', 'David Park', '38', 'Male', '65000', '2015-11-01'],
 ['012', '105', 'Susan Chen', '31', 'Female', '54000', '2017-02-15'],
 ['013', '106', 'Brian Kim', '45', 'Male', '75000', '2011-07-01'],
 ['014', '107', 'Emily Lee', '26', 'Female', '46000', '2019-01-01'],
 ['015', '106', 'Michael Lee', '37', 'Male', '63000', '2014-09-30'],
 ['016', '107', 'Kelly Zhang', '30', 'Female', '49000', '2018-04-01'],
 ['017', '105', 'George Wang', '34', 'Male', '57000', '2016-03-15'],
 ['018', '104', 'Nancy Liu', '29', 'Female', '50000', '2017-06-01'],
 ['019', '103', 'Steven Chen', '36', 'Male', '62000', '2015-08-01'],
 ['020', '102', 'Grace Kim', '32', 'Female', '53000', '2018-11-01']]

In [ ]:
# Check number of partitions

emp.rdd.getNumPartitions()

2

In [ ]:
# Show data (ACTION) which are reposible to create Jobs

emp.show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        018|          104|    Nancy Liu| 29|Female| 50000|2017-06-01|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

In [ ]:
spark.sparkContext.uiWebUrl

'http://31b43f012ebe:4040'

In [ ]:

# Write our first Transformation (EMP salary > 50000)

emp_final = emp.where("salary > 50000")
emp_final.show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

In [ ]:
emp_final.rdd.getNumPartitions()

2

In [ ]:
# Write data as CSV output (ACTION)
emp_final.write.format("csv").save("data/output/1/emp.csv")

In [ ]:
rishob = spark.getActiveSession()

In [ ]:
spark.version

'3.5.1'

In [ ]:
# 02_basic_transformations_1

In [ ]:
# Schema for emp

emp.printSchema()

root
 |-- employee_id: string (nullable = true)
 |-- department_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: string (nullable = true)

In [ ]:
# Schema for emp

emp.schema

StructType([StructField('employee_id', StringType(), True), StructField('department_id', StringType(), True), StructField('name', StringType(), True), StructField('age', StringType(), True), StructField('gender', StringType(), True), StructField('salary', StringType(), True), StructField('hire_date', StringType(), True)])

In [ ]:
# Small Example for Schema
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
schema_string = "name string, age int"

schema_spark =  StructType([    # StructType is the list
    StructField("name", StringType(), True),  # nullable is Ture meaning holding NUll values
    StructField("age", IntegerType(), True)
])

In [ ]:
# Columns and expression
from pyspark.sql.functions import col, expr

col("salary").  # caling the column salary
expr("salary")
emp.salary
emp["salary"]

Column<'salary'>

In [ ]:
# SELECT columns
# select employee_id, name, age, salary from emp

emp_filtered = emp.select(col("employee_id"), expr("name"), emp.age, emp.salary)
# select is a transformation
emp_filtered.show() # action and will trigger a JOB

+-----------+-------------+---+------+
|employee_id|         name|age|salary|
+-----------+-------------+---+------+
|        001|     John Doe| 30| 50000|
|        002|   Jane Smith| 25| 45000|
|        003|    Bob Brown| 35| 55000|
|        004|    Alice Lee| 28| 48000|
|        005|    Jack Chan| 40| 60000|
|        006|    Jill Wong| 32| 52000|
|        007|James Johnson| 42| 70000|
|        008|     Kate Kim| 29| 51000|
|        009|      Tom Tan| 33| 58000|
|        010|     Lisa Lee| 27| 47000|
|        011|   David Park| 38| 65000|
|        012|   Susan Chen| 31| 54000|
|        013|    Brian Kim| 45| 75000|
|        014|    Emily Lee| 26| 46000|
|        015|  Michael Lee| 37| 63000|
|        016|  Kelly Zhang| 30| 49000|
|        017|  George Wang| 34| 57000|
|        018|    Nancy Liu| 29| 50000|
|        019|  Steven Chen| 36| 62000|
|        020|    Grace Kim| 32| 53000|
+-----------+-------------+---+------+

In [ ]:
# Using expr for select
# select employee_id as emp_id, name, cast(age as int) as age, salary from emp_filtered

emp_casted = emp_filtered.select(expr("employee_id as emp_id"), emp_filtered.name, expr("cast(age as int) as age"), emp_filtered.salary)

In [ ]:
emp_casted.show()

+------+-------------+---+------+
|emp_id|         name|age|salary|
+------+-------------+---+------+
|   001|     John Doe| 30| 50000|
|   002|   Jane Smith| 25| 45000|
|   003|    Bob Brown| 35| 55000|
|   004|    Alice Lee| 28| 48000|
|   005|    Jack Chan| 40| 60000|
|   006|    Jill Wong| 32| 52000|
|   007|James Johnson| 42| 70000|
|   008|     Kate Kim| 29| 51000|
|   009|      Tom Tan| 33| 58000|
|   010|     Lisa Lee| 27| 47000|
|   011|   David Park| 38| 65000|
|   012|   Susan Chen| 31| 54000|
|   013|    Brian Kim| 45| 75000|
|   014|    Emily Lee| 26| 46000|
|   015|  Michael Lee| 37| 63000|
|   016|  Kelly Zhang| 30| 49000|
|   017|  George Wang| 34| 57000|
|   018|    Nancy Liu| 29| 50000|
|   019|  Steven Chen| 36| 62000|
|   020|    Grace Kim| 32| 53000|
+------+-------------+---+------+

In [ ]:
emp_casted.printSchema()

root
 |-- emp_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: string (nullable = true)

In [ ]:
#selectExpr

emp_casted_1 = emp_filtered.selectExpr("employee_id as emp_id", "name", "cast(age as int) as age", "salary")
emp_casted_1.show()
emp_casted_1.printSchema()

+------+-------------+---+------+
|emp_id|         name|age|salary|
+------+-------------+---+------+
|   001|     John Doe| 30| 50000|
|   002|   Jane Smith| 25| 45000|
|   003|    Bob Brown| 35| 55000|
|   004|    Alice Lee| 28| 48000|
|   005|    Jack Chan| 40| 60000|
|   006|    Jill Wong| 32| 52000|
|   007|James Johnson| 42| 70000|
|   008|     Kate Kim| 29| 51000|
|   009|      Tom Tan| 33| 58000|
|   010|     Lisa Lee| 27| 47000|
|   011|   David Park| 38| 65000|
|   012|   Susan Chen| 31| 54000|
|   013|    Brian Kim| 45| 75000|
|   014|    Emily Lee| 26| 46000|
|   015|  Michael Lee| 37| 63000|
|   016|  Kelly Zhang| 30| 49000|
|   017|  George Wang| 34| 57000|
|   018|    Nancy Liu| 29| 50000|
|   019|  Steven Chen| 36| 62000|
|   020|    Grace Kim| 32| 53000|
+------+-------------+---+------+

root
 |-- emp_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: string (nullable = true)

In [ ]:
# Filter emp based on Age > 30
# select emp_id, name, age, salary from emp_casted where age > 30

emp.final = emp_casted.select("emp_id", "name", "age", "salary").where("age > 30").orderBy("salary",ascending=False)
emp.final.show()

+------+-------------+---+------+
|emp_id|         name|age|salary|
+------+-------------+---+------+
|   013|    Brian Kim| 45| 75000|
|   007|James Johnson| 42| 70000|
|   011|   David Park| 38| 65000|
|   015|  Michael Lee| 37| 63000|
|   019|  Steven Chen| 36| 62000|
|   005|    Jack Chan| 40| 60000|
|   009|      Tom Tan| 33| 58000|
|   017|  George Wang| 34| 57000|
|   003|    Bob Brown| 35| 55000|
|   012|   Susan Chen| 31| 54000|
|   020|    Grace Kim| 32| 53000|
|   006|    Jill Wong| 32| 52000|
+------+-------------+---+------+

In [ ]:
emp_final.write.format("csv").save("data/output/2/emp.csv")

In [ ]:
# Bonus TIP

schema_str = "name string, age int"

from pyspark.sql.types import _parse_datatype_string

schema_spark = _parse_datatype_string(schema_str)

schema_spark

StructType([StructField('name', StringType(), True), StructField('age', IntegerType(), True)])

In [ ]:
#03_basic_transformations_2

In [ ]:
# Spark Session
from pyspark.sql import SparkSession

spark = (
    SparkSession
    .builder
    .appName("Basic Transformation - II")
    .master("local[*]")
    .getOrCreate()
)

spark

In [ ]:
emp_data1 = [
    ["001","101","John Doe","30","Male","50000","2015-01-01"],
    ["002","101","Jane Smith","25","Female","45000","2016-02-15"],
    ["003","102","Bob Brown","35","Male","55000","2014-05-01"],
    ["004","102","Alice Lee","28","Female","48000","2017-09-30"],
    ["005","103","Jack Chan","40","Male","60000","2013-04-01"],
    ["006","103","Jill Wong","32","Female","52000","2018-07-01"],
    ["007","101","James Johnson","42","Male","70000","2012-03-15"],
    ["008","102","Kate Kim","29","Female","51000","2019-10-01"],
    ["009","103","Tom Tan","33","Male","58000","2016-06-01"],
    ["010","104","Lisa Lee","27","Female","47000","2018-08-01"],
    ["011","104","David Park","38","Male","65000","2015-11-01"],
    ["012","105","Susan Chen","31","Female","54000","2017-02-15"],
    ["013","106","Brian Kim","45","Male","75000","2011-07-01"],
    ["014","107","Emily Lee","26","Female","46000","2019-01-01"],
    ["015","106","Michael Lee","37","Male","63000","2014-09-30"],
    ["016","107","Kelly Zhang","30","Female","49000","2018-04-01"],
    ["017","105","George Wang","34","Male","57000","2016-03-15"],
    ["018","104","Nancy Liu","29","Female","50000","2017-06-01"],
    ["019","103","Steven Chen","36","Male","62000","2015-08-01"],
    ["020","102","Grace Kim","32","Female","53000","2018-11-01"]
]

emp_schema1 = "employee_id string, department_id string, name string, age string, gender string, salary string, hire_date string"

In [ ]:
emp1 = spark.createDataFrame(data=emp_data1, schema=emp_schema1)

In [ ]:
emp1.show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        018|          104|    Nancy Liu| 29|Female| 50000|2017-06-01|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

In [ ]:
emp1.printSchema()

root
 |-- employee_id: string (nullable = true)
 |-- department_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: string (nullable = true)

In [ ]:
# Casting Column
# select employee_id, name, age, cast(salary as double) as salary from emp

from pyspark.sql.functions import col,cast

# double is to see int in Decimal
emp_casted1 = emp1.select("employee_id", "name", "age", col("salary").cast("double"))
emp_casted1.show()
emp_casted1.printSchema()

+-----------+-------------+---+-------+
|employee_id|         name|age| salary|
+-----------+-------------+---+-------+
|        001|     John Doe| 30|50000.0|
|        002|   Jane Smith| 25|45000.0|
|        003|    Bob Brown| 35|55000.0|
|        004|    Alice Lee| 28|48000.0|
|        005|    Jack Chan| 40|60000.0|
|        006|    Jill Wong| 32|52000.0|
|        007|James Johnson| 42|70000.0|
|        008|     Kate Kim| 29|51000.0|
|        009|      Tom Tan| 33|58000.0|
|        010|     Lisa Lee| 27|47000.0|
|        011|   David Park| 38|65000.0|
|        012|   Susan Chen| 31|54000.0|
|        013|    Brian Kim| 45|75000.0|
|        014|    Emily Lee| 26|46000.0|
|        015|  Michael Lee| 37|63000.0|
|        016|  Kelly Zhang| 30|49000.0|
|        017|  George Wang| 34|57000.0|
|        018|    Nancy Liu| 29|50000.0|
|        019|  Steven Chen| 36|62000.0|
|        020|    Grace Kim| 32|53000.0|
+-----------+-------------+---+-------+

root
 |-- employee_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- salary: double (nullable = true)

In [ ]:
# Adding Columns
# select employee_id, name, age, salary, (salary * 0.2) as tax from emp_casted

emp_taxed = emp_casted1.withColumn("tax",col("salary") * 0.2)

emp_taxed.show()

+-----------+-------------+---+-------+-------+
|employee_id|         name|age| salary|    tax|
+-----------+-------------+---+-------+-------+
|        001|     John Doe| 30|50000.0|10000.0|
|        002|   Jane Smith| 25|45000.0| 9000.0|
|        003|    Bob Brown| 35|55000.0|11000.0|
|        004|    Alice Lee| 28|48000.0| 9600.0|
|        005|    Jack Chan| 40|60000.0|12000.0|
|        006|    Jill Wong| 32|52000.0|10400.0|
|        007|James Johnson| 42|70000.0|14000.0|
|        008|     Kate Kim| 29|51000.0|10200.0|
|        009|      Tom Tan| 33|58000.0|11600.0|
|        010|     Lisa Lee| 27|47000.0| 9400.0|
|        011|   David Park| 38|65000.0|13000.0|
|        012|   Susan Chen| 31|54000.0|10800.0|
|        013|    Brian Kim| 45|75000.0|15000.0|
|        014|    Emily Lee| 26|46000.0| 9200.0|
|        015|  Michael Lee| 37|63000.0|12600.0|
|        016|  Kelly Zhang| 30|49000.0| 9800.0|
|        017|  George Wang| 34|57000.0|11400.0|
|        018|    Nancy Liu| 29|50000.0|10000.0|
|        019|  Steven Chen| 36|62000.0|12400.0|
|        020|    Grace Kim| 32|53000.0|10600.0|
+-----------+-------------+---+-------+-------+

In [ ]:

# Literals
# select employee_id, name, age, salary, tax, 1 as columnOne, 'two' as columnTwo from emp_taxed

from pyspark.sql.functions import lit

emp_new_cols = emp_taxed.withColumn("columnOne",lit(1)).withColumn("columnTwo",lit("two"))

emp_new_cols.show()

+-----------+-------------+---+-------+-------+---------+---------+
|employee_id|         name|age| salary|    tax|columnOne|columnTwo|
+-----------+-------------+---+-------+-------+---------+---------+
|        001|     John Doe| 30|50000.0|10000.0|        1|      two|
|        002|   Jane Smith| 25|45000.0| 9000.0|        1|      two|
|        003|    Bob Brown| 35|55000.0|11000.0|        1|      two|
|        004|    Alice Lee| 28|48000.0| 9600.0|        1|      two|
|        005|    Jack Chan| 40|60000.0|12000.0|        1|      two|
|        006|    Jill Wong| 32|52000.0|10400.0|        1|      two|
|        007|James Johnson| 42|70000.0|14000.0|        1|      two|
|        008|     Kate Kim| 29|51000.0|10200.0|        1|      two|
|        009|      Tom Tan| 33|58000.0|11600.0|        1|      two|
|        010|     Lisa Lee| 27|47000.0| 9400.0|        1|      two|
|        011|   David Park| 38|65000.0|13000.0|        1|      two|
|        012|   Susan Chen| 31|54000.0|10800.0|        1|      two|
|        013|    Brian Kim| 45|75000.0|15000.0|        1|      two|
|        014|    Emily Lee| 26|46000.0| 9200.0|        1|      two|
|        015|  Michael Lee| 37|63000.0|12600.0|        1|      two|
|        016|  Kelly Zhang| 30|49000.0| 9800.0|        1|      two|
|        017|  George Wang| 34|57000.0|11400.0|        1|      two|
|        018|    Nancy Liu| 29|50000.0|10000.0|        1|      two|
|        019|  Steven Chen| 36|62000.0|12400.0|        1|      two|
|        020|    Grace Kim| 32|53000.0|10600.0|        1|      two|
+-----------+-------------+---+-------+-------+---------+---------+

In [ ]:
emp_id_new = emp_new_cols.withColumnRenamed("employee_id","emp_id")

emp_id_new.show()

#or but here we need to enter all the columns

# emp_id_new_1 = emp_new_cols.selectExpr("employee_id as emp_id","name","age")

# emp_id_new_1.show()

+------+-------------+---+-------+-------+---------+---------+
|emp_id|         name|age| salary|    tax|columnOne|columnTwo|
+------+-------------+---+-------+-------+---------+---------+
|   001|     John Doe| 30|50000.0|10000.0|        1|      two|
|   002|   Jane Smith| 25|45000.0| 9000.0|        1|      two|
|   003|    Bob Brown| 35|55000.0|11000.0|        1|      two|
|   004|    Alice Lee| 28|48000.0| 9600.0|        1|      two|
|   005|    Jack Chan| 40|60000.0|12000.0|        1|      two|
|   006|    Jill Wong| 32|52000.0|10400.0|        1|      two|
|   007|James Johnson| 42|70000.0|14000.0|        1|      two|
|   008|     Kate Kim| 29|51000.0|10200.0|        1|      two|
|   009|      Tom Tan| 33|58000.0|11600.0|        1|      two|
|   010|     Lisa Lee| 27|47000.0| 9400.0|        1|      two|
|   011|   David Park| 38|65000.0|13000.0|        1|      two|
|   012|   Susan Chen| 31|54000.0|10800.0|        1|      two|
|   013|    Brian Kim| 45|75000.0|15000.0|        1|      two|
|   014|    Emily Lee| 26|46000.0| 9200.0|        1|      two|
|   015|  Michael Lee| 37|63000.0|12600.0|        1|      two|
|   016|  Kelly Zhang| 30|49000.0| 9800.0|        1|      two|
|   017|  George Wang| 34|57000.0|11400.0|        1|      two|
|   018|    Nancy Liu| 29|50000.0|10000.0|        1|      two|
|   019|  Steven Chen| 36|62000.0|12400.0|        1|      two|
|   020|    Grace Kim| 32|53000.0|10600.0|        1|      two|
+------+-------------+---+-------+-------+---------+---------+

+------+-------------+---+
|emp_id|         name|age|
+------+-------------+---+
|   001|     John Doe| 30|
|   002|   Jane Smith| 25|
|   003|    Bob Brown| 35|
|   004|    Alice Lee| 28|
|   005|    Jack Chan| 40|
|   006|    Jill Wong| 32|
|   007|James Johnson| 42|
|   008|     Kate Kim| 29|
|   009|      Tom Tan| 33|
|   010|     Lisa Lee| 27|
|   011|   David Park| 38|
|   012|   Susan Chen| 31|
|   013|    Brian Kim| 45|
|   014|    Emily Lee| 26|
|   015|  Michael Lee| 37|
|   016|  Kelly Zhang| 30|
|   017|  George Wang| 34|
|   018|    Nancy Liu| 29|
|   019|  Steven Chen| 36|
|   020|    Grace Kim| 32|
+------+-------------+---+

In [ ]:
# Column names with Spaces
# select employee_id as emp_id, name, age, salary, tax, columnOne, columnTwo as `Column Two` from emp_new_cols
emp_2 = emp_new_cols.withColumnRenamed("columnTwo", "Column Two")
emp_2.show()

+-----------+-------------+---+-------+-------+---------+----------+
|employee_id|         name|age| salary|    tax|columnOne|Column Two|
+-----------+-------------+---+-------+-------+---------+----------+
|        001|     John Doe| 30|50000.0|10000.0|        1|       two|
|        002|   Jane Smith| 25|45000.0| 9000.0|        1|       two|
|        003|    Bob Brown| 35|55000.0|11000.0|        1|       two|
|        004|    Alice Lee| 28|48000.0| 9600.0|        1|       two|
|        005|    Jack Chan| 40|60000.0|12000.0|        1|       two|
|        006|    Jill Wong| 32|52000.0|10400.0|        1|       two|
|        007|James Johnson| 42|70000.0|14000.0|        1|       two|
|        008|     Kate Kim| 29|51000.0|10200.0|        1|       two|
|        009|      Tom Tan| 33|58000.0|11600.0|        1|       two|
|        010|     Lisa Lee| 27|47000.0| 9400.0|        1|       two|
|        011|   David Park| 38|65000.0|13000.0|        1|       two|
|        012|   Susan Chen| 31|54000.0|10800.0|        1|       two|
|        013|    Brian Kim| 45|75000.0|15000.0|        1|       two|
|        014|    Emily Lee| 26|46000.0| 9200.0|        1|       two|
|        015|  Michael Lee| 37|63000.0|12600.0|        1|       two|
|        016|  Kelly Zhang| 30|49000.0| 9800.0|        1|       two|
|        017|  George Wang| 34|57000.0|11400.0|        1|       two|
|        018|    Nancy Liu| 29|50000.0|10000.0|        1|       two|
|        019|  Steven Chen| 36|62000.0|12400.0|        1|       two|
|        020|    Grace Kim| 32|53000.0|10600.0|        1|       two|
+-----------+-------------+---+-------+-------+---------+----------+

In [ ]:
emp_2_dropped = emp_2.drop("columnOne")
emp_2_dropped.show()

+-----------+-------------+---+-------+-------+----------+
|employee_id|         name|age| salary|    tax|Column Two|
+-----------+-------------+---+-------+-------+----------+
|        001|     John Doe| 30|50000.0|10000.0|       two|
|        002|   Jane Smith| 25|45000.0| 9000.0|       two|
|        003|    Bob Brown| 35|55000.0|11000.0|       two|
|        004|    Alice Lee| 28|48000.0| 9600.0|       two|
|        005|    Jack Chan| 40|60000.0|12000.0|       two|
|        006|    Jill Wong| 32|52000.0|10400.0|       two|
|        007|James Johnson| 42|70000.0|14000.0|       two|
|        008|     Kate Kim| 29|51000.0|10200.0|       two|
|        009|      Tom Tan| 33|58000.0|11600.0|       two|
|        010|     Lisa Lee| 27|47000.0| 9400.0|       two|
|        011|   David Park| 38|65000.0|13000.0|       two|
|        012|   Susan Chen| 31|54000.0|10800.0|       two|
|        013|    Brian Kim| 45|75000.0|15000.0|       two|
|        014|    Emily Lee| 26|46000.0| 9200.0|       two|
|        015|  Michael Lee| 37|63000.0|12600.0|       two|
|        016|  Kelly Zhang| 30|49000.0| 9800.0|       two|
|        017|  George Wang| 34|57000.0|11400.0|       two|
|        018|    Nancy Liu| 29|50000.0|10000.0|       two|
|        019|  Steven Chen| 36|62000.0|12400.0|       two|
|        020|    Grace Kim| 32|53000.0|10600.0|       two|
+-----------+-------------+---+-------+-------+----------+

In [ ]:
emp_dropped = emp_new_cols.drop("columnTwo", "columnOne")
emp_dropped.show()

+-----------+-------------+---+-------+-------+
|employee_id|         name|age| salary|    tax|
+-----------+-------------+---+-------+-------+
|        001|     John Doe| 30|50000.0|10000.0|
|        002|   Jane Smith| 25|45000.0| 9000.0|
|        003|    Bob Brown| 35|55000.0|11000.0|
|        004|    Alice Lee| 28|48000.0| 9600.0|
|        005|    Jack Chan| 40|60000.0|12000.0|
|        006|    Jill Wong| 32|52000.0|10400.0|
|        007|James Johnson| 42|70000.0|14000.0|
|        008|     Kate Kim| 29|51000.0|10200.0|
|        009|      Tom Tan| 33|58000.0|11600.0|
|        010|     Lisa Lee| 27|47000.0| 9400.0|
|        011|   David Park| 38|65000.0|13000.0|
|        012|   Susan Chen| 31|54000.0|10800.0|
|        013|    Brian Kim| 45|75000.0|15000.0|
|        014|    Emily Lee| 26|46000.0| 9200.0|
|        015|  Michael Lee| 37|63000.0|12600.0|
|        016|  Kelly Zhang| 30|49000.0| 9800.0|
|        017|  George Wang| 34|57000.0|11400.0|
|        018|    Nancy Liu| 29|50000.0|10000.0|
|        019|  Steven Chen| 36|62000.0|12400.0|
|        020|    Grace Kim| 32|53000.0|10600.0|
+-----------+-------------+---+-------+-------+

In [ ]:
# Filter data
# select employee_id as emp_id, name, age, salary, tax, columnOne from emp_col_dropped where tax > 1000
emp_filtered = emp_dropped.where("tax > 10000")
emp_filtered.show()

+-----------+-------------+---+-------+-------+
|employee_id|         name|age| salary|    tax|
+-----------+-------------+---+-------+-------+
|        003|    Bob Brown| 35|55000.0|11000.0|
|        005|    Jack Chan| 40|60000.0|12000.0|
|        006|    Jill Wong| 32|52000.0|10400.0|
|        007|James Johnson| 42|70000.0|14000.0|
|        008|     Kate Kim| 29|51000.0|10200.0|
|        009|      Tom Tan| 33|58000.0|11600.0|
|        011|   David Park| 38|65000.0|13000.0|
|        012|   Susan Chen| 31|54000.0|10800.0|
|        013|    Brian Kim| 45|75000.0|15000.0|
|        015|  Michael Lee| 37|63000.0|12600.0|
|        017|  George Wang| 34|57000.0|11400.0|
|        019|  Steven Chen| 36|62000.0|12400.0|
|        020|    Grace Kim| 32|53000.0|10600.0|
+-----------+-------------+---+-------+-------+

In [ ]:
# LIMIT data
# select employee_id as emp_id, name, age, salary, tax, columnOne from emp_filtered limit 5

emp_limit = emp_filtered.limit(5)

In [ ]:
# Show data

emp_limit.show(2)

+-----------+---------+---+-------+-------+
|employee_id|     name|age| salary|    tax|
+-----------+---------+---+-------+-------+
|        003|Bob Brown| 35|55000.0|11000.0|
|        005|Jack Chan| 40|60000.0|12000.0|
+-----------+---------+---+-------+-------+
only showing top 2 rows

In [ ]:
# Bonus TIP
# Add multiple columns
# add it as a dictionary

columns = {
    "tax" : col("salary") * 0.2 ,
    "oneNumber" : lit(1),
    "columnTwo" : lit("two")
}

emp_final1 = emp.withColumns(columns)
emp_final1.show()

emp.show()

# one by one we can add columns
# emp_taxed = emp_casted1.withColumn("tax",col("salary") * 0.2)

# emp_taxed.show()

+-----------+-------------+-------------+---+------+------+----------+-------+---------+---------+
|employee_id|department_id|         name|age|gender|salary| hire_date|    tax|oneNumber|columnTwo|
+-----------+-------------+-------------+---+------+------+----------+-------+---------+---------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|10000.0|        1|      two|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15| 9000.0|        1|      two|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|11000.0|        1|      two|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30| 9600.0|        1|      two|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|12000.0|        1|      two|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|10400.0|        1|      two|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|14000.0|        1|      two|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|10200.0|        1|      two|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|11600.0|        1|      two|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01| 9400.0|        1|      two|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|13000.0|        1|      two|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|10800.0|        1|      two|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|15000.0|        1|      two|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01| 9200.0|        1|      two|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|12600.0|        1|      two|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01| 9800.0|        1|      two|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|11400.0|        1|      two|
|        018|          104|    Nancy Liu| 29|Female| 50000|2017-06-01|10000.0|        1|      two|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|12400.0|        1|      two|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|10600.0|        1|      two|
+-----------+-------------+-------------+---+------+------+----------+-------+---------+---------+

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        018|          104|    Nancy Liu| 29|Female| 50000|2017-06-01|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

04_string_and_dates

In [ ]:
# Spark Session
from pyspark.sql import SparkSession

spark = (
    SparkSession
    .builder
    .appName("Working with Strings & Dates")
    .master("local[*]")
    .getOrCreate()
)

spark

In [ ]:
# Emp Data & Schema

emp_data = [
    ["001","101","John Doe","30","Male","50000","2015-01-01"],
    ["002","101","Jane Smith","25","Female","45000","2016-02-15"],
    ["003","102","Bob Brown","35","Male","55000","2014-05-01"],
    ["004","102","Alice Lee","28","Female","48000","2017-09-30"],
    ["005","103","Jack Chan","40","Male","60000","2013-04-01"],
    ["006","103","Jill Wong","32","Female","52000","2018-07-01"],
    ["007","101","James Johnson","42","Male","70000","2012-03-15"],
    ["008","102","Kate Kim","29","Female","51000","2019-10-01"],
    ["009","103","Tom Tan","33","Male","58000","2016-06-01"],
    ["010","104","Lisa Lee","27","Female","47000","2018-08-01"],
    ["011","104","David Park","38","Male","65000","2015-11-01"],
    ["012","105","Susan Chen","31","Female","54000","2017-02-15"],
    ["013","106","Brian Kim","45","Male","75000","2011-07-01"],
    ["014","107","Emily Lee","26","Female","46000","2019-01-01"],
    ["015","106","Michael Lee","37","Male","63000","2014-09-30"],
    ["016","107","Kelly Zhang","30","Female","49000","2018-04-01"],
    ["017","105","George Wang","34","Male","57000","2016-03-15"],
    ["018","104","Nancy Liu","29","","50000","2017-06-01"],
    ["019","103","Steven Chen","36","Male","62000","2015-08-01"],
    ["020","102","Grace Kim","32","Female","53000","2018-11-01"]
]

emp_schema = "employee_id string, department_id string, name string, age string, gender string, salary string, hire_date string"

In [ ]:
emp = spark.createDataFrame(data=emp_data, schema=emp_schema)
emp.show()
emp.printSchema()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

root
 |-- employee_id: string (nullable = true)
 |-- department_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: string (nullable = true)

In [ ]:
# Case When
# select employee_id, name, age, salary, gender,
# case when gender = 'Male' then 'M' when gender = 'Female' then 'F' else null end as new_gender, hire_date from emp
from pyspark.sql.functions import when , col , cast , expr

emp_gender_fixed = emp.withColumn("new_gender", when(col("gender") == "Male", "M")
                                  .when(col("gender") == "Female","F")
                                  .otherwise(None)
                                  )
emp_gender_fixed.show()

+-----------+-------------+-------------+---+------+------+----------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|new_gender|
+-----------+-------------+-------------+---+------+------+----------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|         M|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|         F|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|         M|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|         F|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|         M|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|         F|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|         M|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|         F|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|         M|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|         F|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|         M|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|         F|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|         M|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|         F|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|         M|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|         F|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|         M|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|      NULL|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|         M|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|         F|
+-----------+-------------+-------------+---+------+------+----------+----------+

In [ ]:
emp_gender_fixed_1 = emp.withColumn("new_gender",expr("case when gender = 'Male' then 'M' when gender = 'Female' then 'F' else null end as new_gender"))
emp_gender_fixed_1.show()

+-----------+-------------+-------------+---+------+------+----------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|new_gender|
+-----------+-------------+-------------+---+------+------+----------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|         M|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|         F|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|         M|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|         F|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|         M|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|         F|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|         M|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|         F|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|         M|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|         F|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|         M|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|         F|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|         M|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|         F|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|         M|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|         F|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|         M|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|      NULL|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|         M|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|         F|
+-----------+-------------+-------------+---+------+------+----------+----------+

In [ ]:
# Replace in Strings
# select employee_id, name, replace(name, 'J', 'Z') as new_name, age, salary, gender, new_gender, hire_date from emp_gender_fixed
from pyspark.sql.functions import regexp_replace

emp_name_fixed = emp_gender_fixed.withColumn("new_name", regexp_replace(col("name"), "J", "Z"))
emp_name_fixed.show()

+-----------+-------------+-------------+---+------+------+----------+----------+-------------+
|employee_id|department_id|         name|age|gender|salary| hire_date|new_gender|     new_name|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|         M|     Zohn Doe|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|         F|   Zane Smith|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|         M|    Bob Brown|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|         F|    Alice Lee|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|         M|    Zack Chan|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|         F|    Zill Wong|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|         M|Zames Zohnson|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|         F|     Kate Kim|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|         M|      Tom Tan|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|         F|     Lisa Lee|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|         M|   David Park|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|         F|   Susan Chen|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|         M|    Brian Kim|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|         F|    Emily Lee|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|         M|  Michael Lee|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|         F|  Kelly Zhang|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|         M|  George Wang|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|      NULL|    Nancy Liu|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|         M|  Steven Chen|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|         F|    Grace Kim|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+

In [ ]:
# Convert Date
# select *,  to_date(hire_date, 'YYYY-MM-DD') as hire_date from emp_name_fixed
from pyspark.sql.functions import to_date

emp_date_fix = emp_name_fixed.withColumn("hire_date", to_date(col("hire_date"), 'yyyy-MM-dd'))
emp_date_fix.show()

emp_date_fix.printSchema()

+-----------+-------------+-------------+---+------+------+----------+----------+-------------+
|employee_id|department_id|         name|age|gender|salary| hire_date|new_gender|     new_name|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|         M|     Zohn Doe|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|         F|   Zane Smith|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|         M|    Bob Brown|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|         F|    Alice Lee|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|         M|    Zack Chan|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|         F|    Zill Wong|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|         M|Zames Zohnson|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|         F|     Kate Kim|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|         M|      Tom Tan|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|         F|     Lisa Lee|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|         M|   David Park|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|         F|   Susan Chen|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|         M|    Brian Kim|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|         F|    Emily Lee|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|         M|  Michael Lee|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|         F|  Kelly Zhang|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|         M|  George Wang|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|      NULL|    Nancy Liu|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|         M|  Steven Chen|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|         F|    Grace Kim|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+

root
 |-- employee_id: string (nullable = true)
 |-- department_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: date (nullable = true)
 |-- new_gender: string (nullable = true)
 |-- new_name: string (nullable = true)

In [ ]:
# Add Date Columns
# Add current_date, current_timestamp, extract year from hire_date
from pyspark.sql.functions import current_date, current_timestamp

emp_dated = emp_date_fix.withColumn("date_now", current_date()).withColumn("timestamp_now", current_timestamp())
emp_dated.show()

+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------+
|employee_id|department_id|         name|age|gender|salary| hire_date|new_gender|     new_name|  date_now|       timestamp_now|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|         M|     Zohn Doe|2025-11-15|2025-11-15 12:59:...|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|         F|   Zane Smith|2025-11-15|2025-11-15 12:59:...|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|         M|    Bob Brown|2025-11-15|2025-11-15 12:59:...|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|         F|    Alice Lee|2025-11-15|2025-11-15 12:59:...|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|         M|    Zack Chan|2025-11-15|2025-11-15 12:59:...|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|         F|    Zill Wong|2025-11-15|2025-11-15 12:59:...|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|         M|Zames Zohnson|2025-11-15|2025-11-15 12:59:...|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|         F|     Kate Kim|2025-11-15|2025-11-15 12:59:...|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|         M|      Tom Tan|2025-11-15|2025-11-15 12:59:...|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|         F|     Lisa Lee|2025-11-15|2025-11-15 12:59:...|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|         M|   David Park|2025-11-15|2025-11-15 12:59:...|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|         F|   Susan Chen|2025-11-15|2025-11-15 12:59:...|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|         M|    Brian Kim|2025-11-15|2025-11-15 12:59:...|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|         F|    Emily Lee|2025-11-15|2025-11-15 12:59:...|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|         M|  Michael Lee|2025-11-15|2025-11-15 12:59:...|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|         F|  Kelly Zhang|2025-11-15|2025-11-15 12:59:...|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|         M|  George Wang|2025-11-15|2025-11-15 12:59:...|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|      NULL|    Nancy Liu|2025-11-15|2025-11-15 12:59:...|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|         M|  Steven Chen|2025-11-15|2025-11-15 12:59:...|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|         F|    Grace Kim|2025-11-15|2025-11-15 12:59:...|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------+

In [ ]:
emp_dated.show(truncate=False) # to unwrape the data .... in timestamp

+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------------+
|employee_id|department_id|name         |age|gender|salary|hire_date |new_gender|new_name     |date_now  |timestamp_now             |
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------------+
|001        |101          |John Doe     |30 |Male  |50000 |2015-01-01|M         |Zohn Doe     |2025-11-15|2025-11-15 13:06:52.601367|
|002        |101          |Jane Smith   |25 |Female|45000 |2016-02-15|F         |Zane Smith   |2025-11-15|2025-11-15 13:06:52.601367|
|003        |102          |Bob Brown    |35 |Male  |55000 |2014-05-01|M         |Bob Brown    |2025-11-15|2025-11-15 13:06:52.601367|
|004        |102          |Alice Lee    |28 |Female|48000 |2017-09-30|F         |Alice Lee    |2025-11-15|2025-11-15 13:06:52.601367|
|005        |103          |Jack Chan    |40 |Male  |60000 |2013-04-01|M         |Zack Chan    |2025-11-15|2025-11-15 13:06:52.601367|
|006        |103          |Jill Wong    |32 |Female|52000 |2018-07-01|F         |Zill Wong    |2025-11-15|2025-11-15 13:06:52.601367|
|007        |101          |James Johnson|42 |Male  |70000 |2012-03-15|M         |Zames Zohnson|2025-11-15|2025-11-15 13:06:52.601367|
|008        |102          |Kate Kim     |29 |Female|51000 |2019-10-01|F         |Kate Kim     |2025-11-15|2025-11-15 13:06:52.601367|
|009        |103          |Tom Tan      |33 |Male  |58000 |2016-06-01|M         |Tom Tan      |2025-11-15|2025-11-15 13:06:52.601367|
|010        |104          |Lisa Lee     |27 |Female|47000 |2018-08-01|F         |Lisa Lee     |2025-11-15|2025-11-15 13:06:52.601367|
|011        |104          |David Park   |38 |Male  |65000 |2015-11-01|M         |David Park   |2025-11-15|2025-11-15 13:06:52.601367|
|012        |105          |Susan Chen   |31 |Female|54000 |2017-02-15|F         |Susan Chen   |2025-11-15|2025-11-15 13:06:52.601367|
|013        |106          |Brian Kim    |45 |Male  |75000 |2011-07-01|M         |Brian Kim    |2025-11-15|2025-11-15 13:06:52.601367|
|014        |107          |Emily Lee    |26 |Female|46000 |2019-01-01|F         |Emily Lee    |2025-11-15|2025-11-15 13:06:52.601367|
|015        |106          |Michael Lee  |37 |Male  |63000 |2014-09-30|M         |Michael Lee  |2025-11-15|2025-11-15 13:06:52.601367|
|016        |107          |Kelly Zhang  |30 |Female|49000 |2018-04-01|F         |Kelly Zhang  |2025-11-15|2025-11-15 13:06:52.601367|
|017        |105          |George Wang  |34 |Male  |57000 |2016-03-15|M         |George Wang  |2025-11-15|2025-11-15 13:06:52.601367|
|018        |104          |Nancy Liu    |29 |      |50000 |2017-06-01|NULL      |Nancy Liu    |2025-11-15|2025-11-15 13:06:52.601367|
|019        |103          |Steven Chen  |36 |Male  |62000 |2015-08-01|M         |Steven Chen  |2025-11-15|2025-11-15 13:06:52.601367|
|020        |102          |Grace Kim    |32 |Female|53000 |2018-11-01|F         |Grace Kim    |2025-11-15|2025-11-15 13:06:52.601367|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------------+

In [ ]:
# Drop Null gender records
# drop the value is not a good option in production as its loosing the data

emp_dropping_null = emp_dated.na.drop()
emp_dropping_null.show()

+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------+
|employee_id|department_id|         name|age|gender|salary| hire_date|new_gender|     new_name|  date_now|       timestamp_now|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|         M|     Zohn Doe|2025-11-15|2025-11-15 13:10:...|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|         F|   Zane Smith|2025-11-15|2025-11-15 13:10:...|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|         M|    Bob Brown|2025-11-15|2025-11-15 13:10:...|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|         F|    Alice Lee|2025-11-15|2025-11-15 13:10:...|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|         M|    Zack Chan|2025-11-15|2025-11-15 13:10:...|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|         F|    Zill Wong|2025-11-15|2025-11-15 13:10:...|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|         M|Zames Zohnson|2025-11-15|2025-11-15 13:10:...|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|         F|     Kate Kim|2025-11-15|2025-11-15 13:10:...|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|         M|      Tom Tan|2025-11-15|2025-11-15 13:10:...|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|         F|     Lisa Lee|2025-11-15|2025-11-15 13:10:...|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|         M|   David Park|2025-11-15|2025-11-15 13:10:...|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|         F|   Susan Chen|2025-11-15|2025-11-15 13:10:...|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|         M|    Brian Kim|2025-11-15|2025-11-15 13:10:...|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|         F|    Emily Lee|2025-11-15|2025-11-15 13:10:...|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|         M|  Michael Lee|2025-11-15|2025-11-15 13:10:...|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|         F|  Kelly Zhang|2025-11-15|2025-11-15 13:10:...|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|         M|  George Wang|2025-11-15|2025-11-15 13:10:...|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|         M|  Steven Chen|2025-11-15|2025-11-15 13:10:...|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|         F|    Grace Kim|2025-11-15|2025-11-15 13:10:...|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------+

In [ ]:
# Fix Null values
# select *, nvl('new_gender', 'O') as new_gender from emp_dated

from pyspark.sql.functions import coalesce,lit
# coalesce will only work of the NULL value , so on new_gender in gender column it won't
emp_fixed_null = emp_dated.withColumn("new_gender_1",coalesce(col("new_gender"),lit("O")))
emp_fixed_null.show()

+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------+------------+
|employee_id|department_id|         name|age|gender|salary| hire_date|new_gender|     new_name|  date_now|       timestamp_now|new_gender_1|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------+------------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|         M|     Zohn Doe|2025-11-15|2025-11-15 13:20:...|           M|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|         F|   Zane Smith|2025-11-15|2025-11-15 13:20:...|           F|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|         M|    Bob Brown|2025-11-15|2025-11-15 13:20:...|           M|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|         F|    Alice Lee|2025-11-15|2025-11-15 13:20:...|           F|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|         M|    Zack Chan|2025-11-15|2025-11-15 13:20:...|           M|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|         F|    Zill Wong|2025-11-15|2025-11-15 13:20:...|           F|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|         M|Zames Zohnson|2025-11-15|2025-11-15 13:20:...|           M|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|         F|     Kate Kim|2025-11-15|2025-11-15 13:20:...|           F|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|         M|      Tom Tan|2025-11-15|2025-11-15 13:20:...|           M|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|         F|     Lisa Lee|2025-11-15|2025-11-15 13:20:...|           F|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|         M|   David Park|2025-11-15|2025-11-15 13:20:...|           M|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|         F|   Susan Chen|2025-11-15|2025-11-15 13:20:...|           F|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|         M|    Brian Kim|2025-11-15|2025-11-15 13:20:...|           M|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|         F|    Emily Lee|2025-11-15|2025-11-15 13:20:...|           F|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|         M|  Michael Lee|2025-11-15|2025-11-15 13:20:...|           M|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|         F|  Kelly Zhang|2025-11-15|2025-11-15 13:20:...|           F|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|         M|  George Wang|2025-11-15|2025-11-15 13:20:...|           M|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|      NULL|    Nancy Liu|2025-11-15|2025-11-15 13:20:...|           O|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|         M|  Steven Chen|2025-11-15|2025-11-15 13:20:...|           M|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|         F|    Grace Kim|2025-11-15|2025-11-15 13:20:...|           F|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------+------------+

In [ ]:
emp_final = emp_fixed_null.drop("name","gender").withColumnRenamed("new_name","NAME").withColumnRenamed("new_gender","GENDER")
emp_final.show()

+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+------------+
|employee_id|department_id|age|salary| hire_date|GENDER|         NAME|  date_now|       timestamp_now|new_gender_1|
+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+------------+
|        001|          101| 30| 50000|2015-01-01|     M|     Zohn Doe|2025-11-15|2025-11-15 13:22:...|           M|
|        002|          101| 25| 45000|2016-02-15|     F|   Zane Smith|2025-11-15|2025-11-15 13:22:...|           F|
|        003|          102| 35| 55000|2014-05-01|     M|    Bob Brown|2025-11-15|2025-11-15 13:22:...|           M|
|        004|          102| 28| 48000|2017-09-30|     F|    Alice Lee|2025-11-15|2025-11-15 13:22:...|           F|
|        005|          103| 40| 60000|2013-04-01|     M|    Zack Chan|2025-11-15|2025-11-15 13:22:...|           M|
|        006|          103| 32| 52000|2018-07-01|     F|    Zill Wong|2025-11-15|2025-11-15 13:22:...|           F|
|        007|          101| 42| 70000|2012-03-15|     M|Zames Zohnson|2025-11-15|2025-11-15 13:22:...|           M|
|        008|          102| 29| 51000|2019-10-01|     F|     Kate Kim|2025-11-15|2025-11-15 13:22:...|           F|
|        009|          103| 33| 58000|2016-06-01|     M|      Tom Tan|2025-11-15|2025-11-15 13:22:...|           M|
|        010|          104| 27| 47000|2018-08-01|     F|     Lisa Lee|2025-11-15|2025-11-15 13:22:...|           F|
|        011|          104| 38| 65000|2015-11-01|     M|   David Park|2025-11-15|2025-11-15 13:22:...|           M|
|        012|          105| 31| 54000|2017-02-15|     F|   Susan Chen|2025-11-15|2025-11-15 13:22:...|           F|
|        013|          106| 45| 75000|2011-07-01|     M|    Brian Kim|2025-11-15|2025-11-15 13:22:...|           M|
|        014|          107| 26| 46000|2019-01-01|     F|    Emily Lee|2025-11-15|2025-11-15 13:22:...|           F|
|        015|          106| 37| 63000|2014-09-30|     M|  Michael Lee|2025-11-15|2025-11-15 13:22:...|           M|
|        016|          107| 30| 49000|2018-04-01|     F|  Kelly Zhang|2025-11-15|2025-11-15 13:22:...|           F|
|        017|          105| 34| 57000|2016-03-15|     M|  George Wang|2025-11-15|2025-11-15 13:22:...|           M|
|        018|          104| 29| 50000|2017-06-01|  NULL|    Nancy Liu|2025-11-15|2025-11-15 13:22:...|           O|
|        019|          103| 36| 62000|2015-08-01|     M|  Steven Chen|2025-11-15|2025-11-15 13:22:...|           M|
|        020|          102| 32| 53000|2018-11-01|     F|    Grace Kim|2025-11-15|2025-11-15 13:22:...|           F|
+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+------------+

In [ ]:
emp_final.write.format("csv").save("data/output/2/emp_final.csv")

In [ ]:
# Bonus TIP
# Convert date into String and extract date information
from pyspark.sql.functions import date_format

emp_fixed_dd = emp_final.withColumn("date_format", date_format(col("hire_date"), "dd/MM/yyyy"))
emp_fixed_dd.show()

+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+------------+-----------+
|employee_id|department_id|age|salary| hire_date|GENDER|         NAME|  date_now|       timestamp_now|new_gender_1|date_format|
+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+------------+-----------+
|        001|          101| 30| 50000|2015-01-01|     M|     Zohn Doe|2025-11-15|2025-11-15 13:39:...|           M| 01/01/2015|
|        002|          101| 25| 45000|2016-02-15|     F|   Zane Smith|2025-11-15|2025-11-15 13:39:...|           F| 15/02/2016|
|        003|          102| 35| 55000|2014-05-01|     M|    Bob Brown|2025-11-15|2025-11-15 13:39:...|           M| 01/05/2014|
|        004|          102| 28| 48000|2017-09-30|     F|    Alice Lee|2025-11-15|2025-11-15 13:39:...|           F| 30/09/2017|
|        005|          103| 40| 60000|2013-04-01|     M|    Zack Chan|2025-11-15|2025-11-15 13:39:...|           M| 01/04/2013|
|        006|          103| 32| 52000|2018-07-01|     F|    Zill Wong|2025-11-15|2025-11-15 13:39:...|           F| 01/07/2018|
|        007|          101| 42| 70000|2012-03-15|     M|Zames Zohnson|2025-11-15|2025-11-15 13:39:...|           M| 15/03/2012|
|        008|          102| 29| 51000|2019-10-01|     F|     Kate Kim|2025-11-15|2025-11-15 13:39:...|           F| 01/10/2019|
|        009|          103| 33| 58000|2016-06-01|     M|      Tom Tan|2025-11-15|2025-11-15 13:39:...|           M| 01/06/2016|
|        010|          104| 27| 47000|2018-08-01|     F|     Lisa Lee|2025-11-15|2025-11-15 13:39:...|           F| 01/08/2018|
|        011|          104| 38| 65000|2015-11-01|     M|   David Park|2025-11-15|2025-11-15 13:39:...|           M| 01/11/2015|
|        012|          105| 31| 54000|2017-02-15|     F|   Susan Chen|2025-11-15|2025-11-15 13:39:...|           F| 15/02/2017|
|        013|          106| 45| 75000|2011-07-01|     M|    Brian Kim|2025-11-15|2025-11-15 13:39:...|           M| 01/07/2011|
|        014|          107| 26| 46000|2019-01-01|     F|    Emily Lee|2025-11-15|2025-11-15 13:39:...|           F| 01/01/2019|
|        015|          106| 37| 63000|2014-09-30|     M|  Michael Lee|2025-11-15|2025-11-15 13:39:...|           M| 30/09/2014|
|        016|          107| 30| 49000|2018-04-01|     F|  Kelly Zhang|2025-11-15|2025-11-15 13:39:...|           F| 01/04/2018|
|        017|          105| 34| 57000|2016-03-15|     M|  George Wang|2025-11-15|2025-11-15 13:39:...|           M| 15/03/2016|
|        018|          104| 29| 50000|2017-06-01|  NULL|    Nancy Liu|2025-11-15|2025-11-15 13:39:...|           O| 01/06/2017|
|        019|          103| 36| 62000|2015-08-01|     M|  Steven Chen|2025-11-15|2025-11-15 13:39:...|           M| 01/08/2015|
|        020|          102| 32| 53000|2018-11-01|     F|    Grace Kim|2025-11-15|2025-11-15 13:39:...|           F| 01/11/2018|
+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+------------+-----------+

In [ ]:
emp_fixed_yy = emp_final.withColumn("date_year", date_format(col("hire_date"), "yyyy"))
emp_fixed_yy.show()

+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+------------+---------+
|employee_id|department_id|age|salary| hire_date|GENDER|         NAME|  date_now|       timestamp_now|new_gender_1|date_year|
+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+------------+---------+
|        001|          101| 30| 50000|2015-01-01|     M|     Zohn Doe|2025-11-15|2025-11-15 13:37:...|           M|     2015|
|        002|          101| 25| 45000|2016-02-15|     F|   Zane Smith|2025-11-15|2025-11-15 13:37:...|           F|     2016|
|        003|          102| 35| 55000|2014-05-01|     M|    Bob Brown|2025-11-15|2025-11-15 13:37:...|           M|     2014|
|        004|          102| 28| 48000|2017-09-30|     F|    Alice Lee|2025-11-15|2025-11-15 13:37:...|           F|     2017|
|        005|          103| 40| 60000|2013-04-01|     M|    Zack Chan|2025-11-15|2025-11-15 13:37:...|           M|     2013|
|        006|          103| 32| 52000|2018-07-01|     F|    Zill Wong|2025-11-15|2025-11-15 13:37:...|           F|     2018|
|        007|          101| 42| 70000|2012-03-15|     M|Zames Zohnson|2025-11-15|2025-11-15 13:37:...|           M|     2012|
|        008|          102| 29| 51000|2019-10-01|     F|     Kate Kim|2025-11-15|2025-11-15 13:37:...|           F|     2019|
|        009|          103| 33| 58000|2016-06-01|     M|      Tom Tan|2025-11-15|2025-11-15 13:37:...|           M|     2016|
|        010|          104| 27| 47000|2018-08-01|     F|     Lisa Lee|2025-11-15|2025-11-15 13:37:...|           F|     2018|
|        011|          104| 38| 65000|2015-11-01|     M|   David Park|2025-11-15|2025-11-15 13:37:...|           M|     2015|
|        012|          105| 31| 54000|2017-02-15|     F|   Susan Chen|2025-11-15|2025-11-15 13:37:...|           F|     2017|
|        013|          106| 45| 75000|2011-07-01|     M|    Brian Kim|2025-11-15|2025-11-15 13:37:...|           M|     2011|
|        014|          107| 26| 46000|2019-01-01|     F|    Emily Lee|2025-11-15|2025-11-15 13:37:...|           F|     2019|
|        015|          106| 37| 63000|2014-09-30|     M|  Michael Lee|2025-11-15|2025-11-15 13:37:...|           M|     2014|
|        016|          107| 30| 49000|2018-04-01|     F|  Kelly Zhang|2025-11-15|2025-11-15 13:37:...|           F|     2018|
|        017|          105| 34| 57000|2016-03-15|     M|  George Wang|2025-11-15|2025-11-15 13:37:...|           M|     2016|
|        018|          104| 29| 50000|2017-06-01|  NULL|    Nancy Liu|2025-11-15|2025-11-15 13:37:...|           O|     2017|
|        019|          103| 36| 62000|2015-08-01|     M|  Steven Chen|2025-11-15|2025-11-15 13:37:...|           M|     2015|
|        020|          102| 32| 53000|2018-11-01|     F|    Grace Kim|2025-11-15|2025-11-15 13:37:...|           F|     2018|
+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+------------+---------+

In [ ]:
emp_fixed_zone = emp_final.withColumn("time_zone", date_format(col("timestamp_now"), "z"))
emp_fixed_zone.show()

+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+------------+---------+
|employee_id|department_id|age|salary| hire_date|GENDER|         NAME|  date_now|       timestamp_now|new_gender_1|time_zone|
+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+------------+---------+
|        001|          101| 30| 50000|2015-01-01|     M|     Zohn Doe|2025-11-15|2025-11-15 13:39:...|           M|      UTC|
|        002|          101| 25| 45000|2016-02-15|     F|   Zane Smith|2025-11-15|2025-11-15 13:39:...|           F|      UTC|
|        003|          102| 35| 55000|2014-05-01|     M|    Bob Brown|2025-11-15|2025-11-15 13:39:...|           M|      UTC|
|        004|          102| 28| 48000|2017-09-30|     F|    Alice Lee|2025-11-15|2025-11-15 13:39:...|           F|      UTC|
|        005|          103| 40| 60000|2013-04-01|     M|    Zack Chan|2025-11-15|2025-11-15 13:39:...|           M|      UTC|
|        006|          103| 32| 52000|2018-07-01|     F|    Zill Wong|2025-11-15|2025-11-15 13:39:...|           F|      UTC|
|        007|          101| 42| 70000|2012-03-15|     M|Zames Zohnson|2025-11-15|2025-11-15 13:39:...|           M|      UTC|
|        008|          102| 29| 51000|2019-10-01|     F|     Kate Kim|2025-11-15|2025-11-15 13:39:...|           F|      UTC|
|        009|          103| 33| 58000|2016-06-01|     M|      Tom Tan|2025-11-15|2025-11-15 13:39:...|           M|      UTC|
|        010|          104| 27| 47000|2018-08-01|     F|     Lisa Lee|2025-11-15|2025-11-15 13:39:...|           F|      UTC|
|        011|          104| 38| 65000|2015-11-01|     M|   David Park|2025-11-15|2025-11-15 13:39:...|           M|      UTC|
|        012|          105| 31| 54000|2017-02-15|     F|   Susan Chen|2025-11-15|2025-11-15 13:39:...|           F|      UTC|
|        013|          106| 45| 75000|2011-07-01|     M|    Brian Kim|2025-11-15|2025-11-15 13:39:...|           M|      UTC|
|        014|          107| 26| 46000|2019-01-01|     F|    Emily Lee|2025-11-15|2025-11-15 13:39:...|           F|      UTC|
|        015|          106| 37| 63000|2014-09-30|     M|  Michael Lee|2025-11-15|2025-11-15 13:39:...|           M|      UTC|
|        016|          107| 30| 49000|2018-04-01|     F|  Kelly Zhang|2025-11-15|2025-11-15 13:39:...|           F|      UTC|
|        017|          105| 34| 57000|2016-03-15|     M|  George Wang|2025-11-15|2025-11-15 13:39:...|           M|      UTC|
|        018|          104| 29| 50000|2017-06-01|  NULL|    Nancy Liu|2025-11-15|2025-11-15 13:39:...|           O|      UTC|
|        019|          103| 36| 62000|2015-08-01|     M|  Steven Chen|2025-11-15|2025-11-15 13:39:...|           M|      UTC|
|        020|          102| 32| 53000|2018-11-01|     F|    Grace Kim|2025-11-15|2025-11-15 13:39:...|           F|      UTC|
+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+------------+---------+

***09 Sorting data, Union and Aggregation in Spark***

In [ ]:
from pyspark.sql import SparkSession

spark = (
    SparkSession
    .builder
    .appName("Sort Union & Aggregation")
    .master("local[*]")
    .getOrCreate()
)

spark

In [ ]:
emp_data_1 = [
    ["001","101","John Doe","30","Male","50000","2015-01-01"],
    ["002","101","Jane Smith","25","Female","45000","2016-02-15"],
    ["003","102","Bob Brown","35","Male","55000","2014-05-01"],
    ["004","102","Alice Lee","28","Female","48000","2017-09-30"],
    ["005","103","Jack Chan","40","Male","60000","2013-04-01"],
    ["006","103","Jill Wong","32","Female","52000","2018-07-01"],
    ["007","101","James Johnson","42","Male","70000","2012-03-15"],
    ["008","102","Kate Kim","29","Female","51000","2019-10-01"],
    ["009","103","Tom Tan","33","Male","58000","2016-06-01"],
    ["010","104","Lisa Lee","27","Female","47000","2018-08-01"]
]

emp_data_2 = [
    ["011","104","David Park","38","Male","65000","2015-11-01"],
    ["012","105","Susan Chen","31","Female","54000","2017-02-15"],
    ["013","106","Brian Kim","45","Male","75000","2011-07-01"],
    ["014","107","Emily Lee","26","Female","46000","2019-01-01"],
    ["015","106","Michael Lee","37","Male","63000","2014-09-30"],
    ["016","107","Kelly Zhang","30","Female","49000","2018-04-01"],
    ["017","105","George Wang","34","Male","57000","2016-03-15"],
    ["018","104","Nancy Liu","29","","50000","2017-06-01"],
    ["019","103","Steven Chen","36","Male","62000","2015-08-01"],
    ["020","102","Grace Kim","32","Female","53000","2018-11-01"]

]

emp_schema = "employee_id string, department_id string, name string, age string, gender string, salary string, hire_date string"

In [ ]:
# Create emp DataFrame

emp_data_1 = spark.createDataFrame(data=emp_data_1, schema=emp_schema)
emp_data_2 = spark.createDataFrame(data=emp_data_2, schema=emp_schema)

In [ ]:

# Show emp dataframe (ACTION)

emp_data_1.show()
emp_data_2.show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
+-----------+-------------+-------------+---+------+------+----------+

+-----------+-------------+-----------+---+------+------+----------+
|employee_id|department_id|       name|age|gender|salary| hire_date|
+-----------+-------------+-----------+---+------+------+----------+
|        011|          104| David Park| 38|  Male| 65000|2015-11-01|
|        012|          105| Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|  Brian Kim| 45|  Male| 75000|2011-07-01|
|        014|          107|  Emily Lee| 26|Female| 46000|2019-01-01|
|        015|          106|Michael Lee| 37|  Male| 63000|2014-09-30|
|        016|          107|Kelly Zhang| 30|Female| 49000|2018-04-01|
|        017|          105|George Wang| 34|  Male| 57000|2016-03-15|
|        018|          104|  Nancy Liu| 29|      | 50000|2017-06-01|
|        019|          103|Steven Chen| 36|  Male| 62000|2015-08-01|
|        020|          102|  Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-----------+---+------+------+----------+

In [ ]:
# Print Schema

emp_data_1.printSchema()
emp_data_2.printSchema()

root
 |-- employee_id: string (nullable = true)
 |-- department_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: string (nullable = true)

root
 |-- employee_id: string (nullable = true)
 |-- department_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: string (nullable = true)

In [ ]:
# UNION and UNION ALL
# union will remove the duplicate from the combined dataset whereas Union All doesnot
# select * from emp_data_1 UNION select * from emp_data_2
emp_un = emp_data_1.union(emp_data_2)
emp_un.show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

In [ ]:
emp_un_all = emp_data_1.unionAll(emp_data_2)
emp_un_all.show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

In [ ]:
# Sort the emp data based on desc Salary
# select * from emp order by salary desc
from pyspark.sql.functions import desc, asc, col

emp_sorted = emp.orderBy(col("salary").asc())
emp_sorted.show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
+-----------+-------------+-------------+---+------+------+----------+

**Aggregation - Group BY**

In [ ]:
# Aggregation
# select dept_id, count(employee_id) as total_dept_count from emp_sorted group by dept_id
from pyspark.sql.functions import count

emp_count = emp_sorted.groupBy("department_id").agg(count("employee_id").alias("total_dept_count"))
emp_count.show()

+-------------+----------------+
|department_id|total_dept_count|
+-------------+----------------+
|          101|               3|
|          104|               3|
|          102|               4|
|          103|               4|
|          107|               2|
|          106|               2|
|          105|               2|
+-------------+----------------+

In [ ]:
# Aggregation
# select dept_id, sum(salary) as total_dept_salary from emp_sorted group by dept_id

from pyspark.sql.functions import sum

emp_sum = emp_sorted.groupBy("department_id").agg(sum("salary").alias("total_salary"))
emp_sum.show()

emp_sum1 = emp_sorted.groupBy("department_id").agg(sum("salary").alias("total_salary")).where("total_salary > 200000 ")
emp_sum1.show()

+-------------+------------+
|department_id|total_salary|
+-------------+------------+
|          101|    165000.0|
|          107|     95000.0|
|          104|    162000.0|
|          102|    207000.0|
|          103|    232000.0|
|          106|    138000.0|
|          105|    111000.0|
+-------------+------------+

+-------------+------------+
|department_id|total_salary|
+-------------+------------+
|          102|    207000.0|
|          103|    232000.0|
+-------------+------------+

In [ ]:
# Aggregation with having clause
# select dept_id, avg(salary) as avg_dept_salary from emp_sorted  group by dept_id having avg(salary) > 50000
from pyspark.sql.functions import avg

emp_avg = emp_sorted.groupBy("department_id").agg(avg("salary").alias("avg_dept_salary")).where("avg_dept_salary > 50000")
emp_avg.show()


# we can write the column aggregation epression in select and selectExpr as well

+-------------+---------------+
|department_id|avg_dept_salary|
+-------------+---------------+
|          101|        55000.0|
|          104|        54000.0|
|          102|        51750.0|
|          103|        58000.0|
|          106|        69000.0|
|          105|        55500.0|
+-------------+---------------+

In [ ]:
# Bonus TIP - unionByName
# In case the column sequence is different
emp_data_2_other = emp_data_2.select("employee_id", "salary", "department_id", "name", "hire_date", "gender", "age")

emp_data_1.printSchema()
emp_data_2_other.printSchema()

root
 |-- employee_id: string (nullable = true)
 |-- department_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: string (nullable = true)

root
 |-- employee_id: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- department_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- hire_date: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: string (nullable = true)

In [ ]:
emp_fixed_2 = emp_data_1.unionByName(emp_data_2_other)
emp_fixed_2.show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

In [ ]:
emp.count()

20

In [ ]:
# Spark Session
from pyspark.sql import SparkSession

spark = (
    SparkSession
    .builder
    .appName("Unique data & Window Functions")
    .master("local[*]")
    .getOrCreate()
)

spark

In [ ]:
# Emp Data & Schema

emp_data = [
    ["001","101","John Doe","30","Male","50000","2015-01-01"],
    ["002","101","Jane Smith","25","Female","45000","2016-02-15"],
    ["003","102","Bob Brown","35","Male","55000","2014-05-01"],
    ["004","102","Alice Lee","28","Female","48000","2017-09-30"],
    ["005","103","Jack Chan","40","Male","60000","2013-04-01"],
    ["006","103","Jill Wong","32","Female","52000","2018-07-01"],
    ["007","101","James Johnson","42","Male","70000","2012-03-15"],
    ["008","102","Kate Kim","29","Female","51000","2019-10-01"],
    ["009","103","Tom Tan","33","Male","58000","2016-06-01"],
    ["010","104","Lisa Lee","27","Female","47000","2018-08-01"],
    ["011","104","David Park","38","Male","65000","2015-11-01"],
    ["012","105","Susan Chen","31","Female","54000","2017-02-15"],
    ["013","106","Brian Kim","45","Male","75000","2011-07-01"],
    ["014","107","Emily Lee","26","Female","46000","2019-01-01"],
    ["015","106","Michael Lee","37","Male","63000","2014-09-30"],
    ["016","107","Kelly Zhang","30","Female","49000","2018-04-01"],
    ["017","105","George Wang","34","Male","57000","2016-03-15"],
    ["018","104","Nancy Liu","29","","50000","2017-06-01"],
    ["019","103","Steven Chen","36","Male","62000","2015-08-01"],
    ["020","102","Grace Kim","32","Female","53000","2018-11-01"]
]

emp_schema = "employee_id string, department_id string, name string, age string, gender string, salary string, hire_date string"

In [ ]:
# Create emp DataFrame
emp = spark.createDataFrame(data = emp_data ,schema = emp_schema )

emp.show()

emp.printSchema() # this is more used

emp.schema

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

root
 |-- employee_id: string (nullable = true)
 |-- department_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: string (nullable = true)

StructType([StructField('employee_id', StringType(), True), StructField('department_id', StringType(), True), StructField('name', StringType(), True), StructField('age', StringType(), True), StructField('gender', StringType(), True), StructField('salary', StringType(), True), StructField('hire_date', StringType(), True)])

In [ ]:
# Get unique data
# select distinct emp.* from emp


emp_unique = emp.distinct()
emp_unique.show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
+-----------+-------------+-------------+---+------+------+----------+

In [ ]:

# Unique of department_ids
# select distinct department_id from emp

emp_dist_id = emp.select("department_id").distinct()

emp_dist_id.show()

+-------------+
|department_id|
+-------------+
|          101|
|          104|
|          102|
|          103|
|          107|
|          106|
|          105|
+-------------+

In [ ]:
# Window Functions
# select *, max(salary) over(partition by department_id order by salary desc) as max_salary from emp_unique
from pyspark.sql.window import Window
from pyspark.sql.functions import col , max , desc

window_spec = Window.partitionBy(col("department_id")).orderBy(col("salary").desc())
max_func = max(col("salary")).over(window_spec)

emp_data_111 = emp.withColumn("max_salary",max_func)

emp_data_111.show()

+-----------+-------------+-------------+---+------+------+----------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|max_salary|
+-----------+-------------+-------------+---+------+------+----------+----------+
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|     70000|
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|     70000|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|     70000|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|     55000|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|     55000|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|     55000|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|     55000|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|     62000|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|     62000|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|     62000|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|     62000|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|     65000|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|     65000|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|     65000|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|     57000|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|     57000|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|     75000|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|     75000|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|     49000|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|     49000|
+-----------+-------------+-------------+---+------+------+----------+----------+

In [ ]:
# Window Functions - 2nd highest salary of each department
# select *, row_number() over(partition by department_id order by salary desc) as rn from emp_unique where rn = 2
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number ,col , desc

window_spec = Window.partitionBy(col("department_id")).orderBy(col("salary").desc())

rn = row_number().over(window_spec)

emp_data_rn = emp.withColumn("rn",rn)

emp_data_rn.show()

# 2nd highest salary

emp_data_rn_1 = emp.withColumn("rn",rn).where("rn = 2")
emp_data_rn_1.show()

+-----------+-------------+-------------+---+------+------+----------+---+
|employee_id|department_id|         name|age|gender|salary| hire_date| rn|
+-----------+-------------+-------------+---+------+------+----------+---+
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|  1|
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|  2|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|  3|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|  1|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|  2|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|  3|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|  4|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|  1|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|  2|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|  3|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|  4|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|  1|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|  2|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|  3|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|  1|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|  2|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|  1|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|  2|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|  1|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|  2|
+-----------+-------------+-------------+---+------+------+----------+---+

+-----------+-------------+-----------+---+------+------+----------+---+
|employee_id|department_id|       name|age|gender|salary| hire_date| rn|
+-----------+-------------+-----------+---+------+------+----------+---+
|        001|          101|   John Doe| 30|  Male| 50000|2015-01-01|  2|
|        020|          102|  Grace Kim| 32|Female| 53000|2018-11-01|  2|
|        005|          103|  Jack Chan| 40|  Male| 60000|2013-04-01|  2|
|        018|          104|  Nancy Liu| 29|      | 50000|2017-06-01|  2|
|        012|          105| Susan Chen| 31|Female| 54000|2017-02-15|  2|
|        015|          106|Michael Lee| 37|  Male| 63000|2014-09-30|  2|
|        014|          107|  Emily Lee| 26|Female| 46000|2019-01-01|  2|
+-----------+-------------+-----------+---+------+------+----------+---+

In [ ]:
# Window function using expr
# select *, row_number() over(partition by department_id order by salary desc) as rn from emp_unique where rn = 2
from pyspark.sql.functions import expr

emp_3 = emp.withColumn("rn" , expr("row_number() over(partition by department_id order by salary desc)")).where("rn = 2")

emp_3.show()

+-----------+-------------+-----------+---+------+------+----------+---+
|employee_id|department_id|       name|age|gender|salary| hire_date| rn|
+-----------+-------------+-----------+---+------+------+----------+---+
|        001|          101|   John Doe| 30|  Male| 50000|2015-01-01|  2|
|        020|          102|  Grace Kim| 32|Female| 53000|2018-11-01|  2|
|        005|          103|  Jack Chan| 40|  Male| 60000|2013-04-01|  2|
|        018|          104|  Nancy Liu| 29|      | 50000|2017-06-01|  2|
|        012|          105| Susan Chen| 31|Female| 54000|2017-02-15|  2|
|        015|          106|Michael Lee| 37|  Male| 63000|2014-09-30|  2|
|        014|          107|  Emily Lee| 26|Female| 46000|2019-01-01|  2|
+-----------+-------------+-----------+---+------+------+----------+---+

In [ ]:
# Bonus TIP
# Databricks community cloud

Created the account in Databricks community cloud

# **Data Repartitioning & PySpark Joins**

In [ ]:

# Spark Session
from pyspark.sql import SparkSession

spark = (
    SparkSession
    .builder
    .appName("Joins and Data Partitions")
    .master("local[*]")
    .getOrCreate()
)

spark

In [ ]:
# Emp Data & Schema

emp_data = [
    ["001","101","John Doe","30","Male","50000","2015-01-01"],
    ["002","101","Jane Smith","25","Female","45000","2016-02-15"],
    ["003","102","Bob Brown","35","Male","55000","2014-05-01"],
    ["004","102","Alice Lee","28","Female","48000","2017-09-30"],
    ["005","103","Jack Chan","40","Male","60000","2013-04-01"],
    ["006","103","Jill Wong","32","Female","52000","2018-07-01"],
    ["007","101","James Johnson","42","Male","70000","2012-03-15"],
    ["008","102","Kate Kim","29","Female","51000","2019-10-01"],
    ["009","103","Tom Tan","33","Male","58000","2016-06-01"],
    ["010","104","Lisa Lee","27","Female","47000","2018-08-01"],
    ["011","104","David Park","38","Male","65000","2015-11-01"],
    ["012","105","Susan Chen","31","Female","54000","2017-02-15"],
    ["013","106","Brian Kim","45","Male","75000","2011-07-01"],
    ["014","107","Emily Lee","26","Female","46000","2019-01-01"],
    ["015","106","Michael Lee","37","Male","63000","2014-09-30"],
    ["016","107","Kelly Zhang","30","Female","49000","2018-04-01"],
    ["017","105","George Wang","34","Male","57000","2016-03-15"],
    ["018","104","Nancy Liu","29","","50000","2017-06-01"],
    ["019","103","Steven Chen","36","Male","62000","2015-08-01"],
    ["020","102","Grace Kim","32","Female","53000","2018-11-01"]
]

emp_schema = "employee_id string, department_id string, name string, age string, gender string, salary string, hire_date string"

dept_data = [
    ["101", "Sales", "NYC", "US", "1000000"],
    ["102", "Marketing", "LA", "US", "900000"],
    ["103", "Finance", "London", "UK", "1200000"],
    ["104", "Engineering", "Beijing", "China", "1500000"],
    ["105", "Human Resources", "Tokyo", "Japan", "800000"],
    ["106", "Research and Development", "Perth", "Australia", "1100000"],
    ["107", "Customer Service", "Sydney", "Australia", "950000"]
]

dept_schema = "department_id string, department_name string, city string, country string, budget string"

In [ ]:
# Create emp & dept DataFrame

emp = spark.createDataFrame(data=emp_data, schema=emp_schema)
dept = spark.createDataFrame(data=dept_data, schema=dept_schema)

In [ ]:
# Show emp dataframe (ACTION)


emp.show()
dept.show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

+-------------+--------------------+-------+---------+-------+
|department_id|     department_name|   city|  country| budget|
+-------------+--------------------+-------+---------+-------+
|          101|               Sales|    NYC|       US|1000000|
|          102|           Marketing|     LA|       US| 900000|
|          103|             Finance| London|       UK|1200000|
|          104|         Engineering|Beijing|    China|1500000|
|          105|     Human Resources|  Tokyo|    Japan| 800000|
|          106|Research and Deve...|  Perth|Australia|1100000|
|          107|    Customer Service| Sydney|Australia| 950000|
+-------------+--------------------+-------+---------+-------+

In [ ]:
# Print Schema

emp.printSchema()
dept.printSchema()

root
 |-- employee_id: string (nullable = true)
 |-- department_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: string (nullable = true)

root
 |-- department_id: string (nullable = true)
 |-- department_name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- country: string (nullable = true)
 |-- budget: string (nullable = true)

In [ ]:
# Get number of partitions for emp
emp.rdd.getNumPartitions()

2

In [ ]:
# Get number of partitions for dept
dept.rdd.getNumPartitions()

2

In [ ]:
# Repartition of data using repartition & coalesce
# repartition()  Wide Transformation (SHUFFLE happens),Can increase or decrease partitions
# DOES A FULL SHUFFLE - Data is redistributed evenly across partitions
# Slower than coalesce (because shuffle)
emp_partitioned = emp.repartition(4)
emp_partitioned.rdd.getNumPartitions()

4

In [ ]:
#coalesce()  Narrow Transformation (NO shuffle)
#Spark only merges existing partitions; does NOT move data across executors.
emp_partitioned = emp.coalesce(10)
emp_partitioned.rdd.getNumPartitions()

2

In [ ]:
emp_partitioned = emp.repartition(4, "department_id")
emp_partitioned.rdd.getNumPartitions()

4

In [ ]:
# Find the partition info for partitions and reparition
from pyspark.sql.functions import spark_partition_id

emp_1 = emp.withColumn("partition_num", spark_partition_id())
emp_1.show()

emp_11 = emp.repartition(4, "department_id").withColumn("partition_num", spark_partition_id())
emp_11.show()

# this is done - becoz we have a huge optimizing within the spark

+-----------+-------------+-------------+---+------+------+----------+-------------+
|employee_id|department_id|         name|age|gender|salary| hire_date|partition_num|
+-----------+-------------+-------------+---+------+------+----------+-------------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|            0|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|            0|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|            0|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|            0|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|            0|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|            0|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|            0|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|            0|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|            0|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|            0|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|            1|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|            1|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|            1|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|            1|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|            1|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|            1|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|            1|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|            1|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|            1|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|            1|
+-----------+-------------+-------------+---+------+------+----------+-------------+

+-----------+-------------+-------------+---+------+------+----------+-------------+
|employee_id|department_id|         name|age|gender|salary| hire_date|partition_num|
+-----------+-------------+-------------+---+------+------+----------+-------------+
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|            0|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|            0|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|            0|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|            0|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|            0|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|            0|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|            1|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|            1|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|            2|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|            2|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|            2|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|            2|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|            2|
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|            3|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|            3|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|            3|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|            3|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|            3|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|            3|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|            3|
+-----------+-------------+-------------+---+------+------+----------+-------------+

In [ ]:
# INNER JOIN datasets
# select e.emp_name, d.department_name, d.department_id, e.salary
# from emp e inner join dept d on emp.department_id = dept.department_id

df_joined = emp.alias("e").join(dept.alias("d"), how="inner", on=emp.department_id==dept.department_id)
df_joined.show()

+-----------+-------------+-------------+---+------+------+----------+-------------+--------------------+-------+---------+-------+
|employee_id|department_id|         name|age|gender|salary| hire_date|department_id|     department_name|   city|  country| budget|
+-----------+-------------+-------------+---+------+------+----------+-------------+--------------------+-------+---------+-------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|          101|               Sales|    NYC|       US|1000000|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|          101|               Sales|    NYC|       US|1000000|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|          101|               Sales|    NYC|       US|1000000|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|          102|           Marketing|     LA|       US| 900000|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|          102|           Marketing|     LA|       US| 900000|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|          102|           Marketing|     LA|       US| 900000|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|          102|           Marketing|     LA|       US| 900000|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|          103|             Finance| London|       UK|1200000|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|          103|             Finance| London|       UK|1200000|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|          103|             Finance| London|       UK|1200000|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|          103|             Finance| London|       UK|1200000|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|          104|         Engineering|Beijing|    China|1500000|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|          104|         Engineering|Beijing|    China|1500000|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|          104|         Engineering|Beijing|    China|1500000|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|          105|     Human Resources|  Tokyo|    Japan| 800000|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|          105|     Human Resources|  Tokyo|    Japan| 800000|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|          106|Research and Deve...|  Perth|Australia|1100000|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|          106|Research and Deve...|  Perth|Australia|1100000|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|          107|    Customer Service| Sydney|Australia| 950000|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|          107|    Customer Service| Sydney|Australia| 950000|
+-----------+-------------+-------------+---+------+------+----------+-------------+--------------------+-------+---------+-------+

In [ ]:
df_joined.select("e.name", "d.department_id", "d.department_name", "e.salary").show()

+-------------+-------------+--------------------+------+
|         name|department_id|     department_name|salary|
+-------------+-------------+--------------------+------+
|     John Doe|          101|               Sales| 50000|
|   Jane Smith|          101|               Sales| 45000|
|James Johnson|          101|               Sales| 70000|
|    Bob Brown|          102|           Marketing| 55000|
|    Alice Lee|          102|           Marketing| 48000|
|     Kate Kim|          102|           Marketing| 51000|
|    Grace Kim|          102|           Marketing| 53000|
|    Jack Chan|          103|             Finance| 60000|
|    Jill Wong|          103|             Finance| 52000|
|      Tom Tan|          103|             Finance| 58000|
|  Steven Chen|          103|             Finance| 62000|
|     Lisa Lee|          104|         Engineering| 47000|
|   David Park|          104|         Engineering| 65000|
|    Nancy Liu|          104|         Engineering| 50000|
|   Susan Chen|          105|     Human Resources| 54000|
|  George Wang|          105|     Human Resources| 57000|
|    Brian Kim|          106|Research and Deve...| 75000|
|  Michael Lee|          106|Research and Deve...| 63000|
|    Emily Lee|          107|    Customer Service| 46000|
|  Kelly Zhang|          107|    Customer Service| 49000|
+-------------+-------------+--------------------+------+

In [ ]:
# LEFT OUTER JOIN datasets
# select e.emp_name, d.department_name, d.department_id, e.salary
# from emp e left outer join dept d on emp.department_id = dept.department_id

df_joined = emp.alias("e").join(dept.alias("d"), how="left_outer", on=emp.department_id==dept.department_id)
df_joined.show()

+-----------+-------------+-------------+---+------+------+----------+-------------+--------------------+-------+---------+-------+
|employee_id|department_id|         name|age|gender|salary| hire_date|department_id|     department_name|   city|  country| budget|
+-----------+-------------+-------------+---+------+------+----------+-------------+--------------------+-------+---------+-------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|          101|               Sales|    NYC|       US|1000000|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|          101|               Sales|    NYC|       US|1000000|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|          101|               Sales|    NYC|       US|1000000|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|          104|         Engineering|Beijing|    China|1500000|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|          102|           Marketing|     LA|       US| 900000|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|          102|           Marketing|     LA|       US| 900000|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|          102|           Marketing|     LA|       US| 900000|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|          103|             Finance| London|       UK|1200000|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|          103|             Finance| London|       UK|1200000|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|          103|             Finance| London|       UK|1200000|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|          107|    Customer Service| Sydney|Australia| 950000|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|          107|    Customer Service| Sydney|Australia| 950000|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|          104|         Engineering|Beijing|    China|1500000|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|          104|         Engineering|Beijing|    China|1500000|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|          102|           Marketing|     LA|       US| 900000|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|          103|             Finance| London|       UK|1200000|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|          106|Research and Deve...|  Perth|Australia|1100000|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|          106|Research and Deve...|  Perth|Australia|1100000|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|          105|     Human Resources|  Tokyo|    Japan| 800000|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|          105|     Human Resources|  Tokyo|    Japan| 800000|
+-----------+-------------+-------------+---+------+------+----------+-------------+--------------------+-------+---------+-------+

In [ ]:
df_joined.select("e.name", "d.department_name", "d.department_id", "e.salary").show()

+-------------+--------------------+-------------+------+
|         name|     department_name|department_id|salary|
+-------------+--------------------+-------------+------+
|     John Doe|               Sales|          101| 50000|
|   Jane Smith|               Sales|          101| 45000|
|James Johnson|               Sales|          101| 70000|
|     Lisa Lee|         Engineering|          104| 47000|
|    Bob Brown|           Marketing|          102| 55000|
|    Alice Lee|           Marketing|          102| 48000|
|     Kate Kim|           Marketing|          102| 51000|
|    Jack Chan|             Finance|          103| 60000|
|    Jill Wong|             Finance|          103| 52000|
|      Tom Tan|             Finance|          103| 58000|
|    Emily Lee|    Customer Service|          107| 46000|
|  Kelly Zhang|    Customer Service|          107| 49000|
|   David Park|         Engineering|          104| 65000|
|    Nancy Liu|         Engineering|          104| 50000|
|    Grace Kim|           Marketing|          102| 53000|
|  Steven Chen|             Finance|          103| 62000|
|    Brian Kim|Research and Deve...|          106| 75000|
|  Michael Lee|Research and Deve...|          106| 63000|
|   Susan Chen|     Human Resources|          105| 54000|
|  George Wang|     Human Resources|          105| 57000|
+-------------+--------------------+-------------+------+

In [ ]:
# Bonus TIP
# Joins with cascading conditions
# Join with Department_id and only for departments 101 or 102
# Join with not null/null conditions

df_final = emp.join(dept, how="left_outer",
                   on=(emp.department_id==dept.department_id) & ((emp.department_id == "101") | (emp.department_id == "102"))
                    & (emp.salary.isNull())
                   )

df_final.show()

+-----------+-------------+-------------+---+------+------+----------+-------------+---------------+----+-------+------+
|employee_id|department_id|         name|age|gender|salary| hire_date|department_id|department_name|city|country|budget|
+-----------+-------------+-------------+---+------+------+----------+-------------+---------------+----+-------+------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|         NULL|           NULL|NULL|   NULL|  NULL|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|         NULL|           NULL|NULL|   NULL|  NULL|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|         NULL|           NULL|NULL|   NULL|  NULL|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|         NULL|           NULL|NULL|   NULL|  NULL|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|         NULL|           NULL|NULL|   NULL|  NULL|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|         NULL|           NULL|NULL|   NULL|  NULL|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|         NULL|           NULL|NULL|   NULL|  NULL|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|         NULL|           NULL|NULL|   NULL|  NULL|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|         NULL|           NULL|NULL|   NULL|  NULL|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|         NULL|           NULL|NULL|   NULL|  NULL|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|         NULL|           NULL|NULL|   NULL|  NULL|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|         NULL|           NULL|NULL|   NULL|  NULL|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|         NULL|           NULL|NULL|   NULL|  NULL|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|         NULL|           NULL|NULL|   NULL|  NULL|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|         NULL|           NULL|NULL|   NULL|  NULL|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|         NULL|           NULL|NULL|   NULL|  NULL|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|         NULL|           NULL|NULL|   NULL|  NULL|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|         NULL|           NULL|NULL|   NULL|  NULL|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|         NULL|           NULL|NULL|   NULL|  NULL|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|         NULL|           NULL|NULL|   NULL|  NULL|
+-----------+-------------+-------------+---+------+------+----------+-------------+---------------+----+-------+------+

Re-studying the Re-Parttion & Coalease

In [ ]:
# Spark Session
from pyspark.sql import SparkSession

spark = (
    SparkSession
    .builder
    .appName("Joins and Data Partitions")
    .master("local[*]")
    .getOrCreate()
)

spark

In [ ]:
# Emp Data & Schema

emp_data = [
    ["001","101","John Doe","30","Male","50000","2015-01-01"],
    ["002","101","Jane Smith","25","Female","45000","2016-02-15"],
    ["003","102","Bob Brown","35","Male","55000","2014-05-01"],
    ["004","102","Alice Lee","28","Female","48000","2017-09-30"],
    ["005","103","Jack Chan","40","Male","60000","2013-04-01"],
    ["006","103","Jill Wong","32","Female","52000","2018-07-01"],
    ["007","101","James Johnson","42","Male","70000","2012-03-15"],
    ["008","102","Kate Kim","29","Female","51000","2019-10-01"],
    ["009","103","Tom Tan","33","Male","58000","2016-06-01"],
    ["010","104","Lisa Lee","27","Female","47000","2018-08-01"],
    ["011","104","David Park","38","Male","65000","2015-11-01"],
    ["012","105","Susan Chen","31","Female","54000","2017-02-15"],
    ["013","106","Brian Kim","45","Male","75000","2011-07-01"],
    ["014","107","Emily Lee","26","Female","46000","2019-01-01"],
    ["015","106","Michael Lee","37","Male","63000","2014-09-30"],
    ["016","107","Kelly Zhang","30","Female","49000","2018-04-01"],
    ["017","105","George Wang","34","Male","57000","2016-03-15"],
    ["018","104","Nancy Liu","29","","50000","2017-06-01"],
    ["019","103","Steven Chen","36","Male","62000","2015-08-01"],
    ["020","102","Grace Kim","32","Female","53000","2018-11-01"]
]

emp_schema = "employee_id string, department_id string, name string, age string, gender string, salary string, hire_date string"

dept_data = [
    ["101", "Sales", "NYC", "US", "1000000"],
    ["102", "Marketing", "LA", "US", "900000"],
    ["103", "Finance", "London", "UK", "1200000"],
    ["104", "Engineering", "Beijing", "China", "1500000"],
    ["105", "Human Resources", "Tokyo", "Japan", "800000"],
    ["106", "Research and Development", "Perth", "Australia", "1100000"],
    ["107", "Customer Service", "Sydney", "Australia", "950000"]
]

dept_schema = "department_id string, department_name string, city string, country string, budget string"

In [ ]:
# Create emp & dept DataFrame

emp = spark.createDataFrame(data=emp_data, schema=emp_schema)
dept = spark.createDataFrame(data=dept_data, schema=dept_schema)

In [ ]:
# Show emp dataframe (ACTION)

emp.show()
dept.show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

+-------------+--------------------+-------+---------+-------+
|department_id|     department_name|   city|  country| budget|
+-------------+--------------------+-------+---------+-------+
|          101|               Sales|    NYC|       US|1000000|
|          102|           Marketing|     LA|       US| 900000|
|          103|             Finance| London|       UK|1200000|
|          104|         Engineering|Beijing|    China|1500000|
|          105|     Human Resources|  Tokyo|    Japan| 800000|
|          106|Research and Deve...|  Perth|Australia|1100000|
|          107|    Customer Service| Sydney|Australia| 950000|
+-------------+--------------------+-------+---------+-------+

In [ ]:
# Print Schema

emp.printSchema()
dept.printSchema()

root
 |-- employee_id: string (nullable = true)
 |-- department_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: string (nullable = true)

root
 |-- department_id: string (nullable = true)
 |-- department_name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- country: string (nullable = true)
 |-- budget: string (nullable = true)

In [ ]:
# Get number of partitions for emp
emp.rdd.getNumPartitions()

2

In [ ]:
# Get number of partitions for dept
dept.rdd.getNumPartitions()

2

In [ ]:
# Repartition of data using repartition & coalesce
emp_partitioned = emp.repartition(4)

In [ ]:
emp_partitioned.rdd.getNumPartitions()

4

In [ ]:
# we can increase the partition
emp_partitioned = emp.repartition(10)
emp_partitioned.rdd.getNumPartitions()

10

 1. coalesce()
 Used to reduce the number of partitions

(e.g., from 20  5)

 NO shuffle (narrow transformation)

Faster because data doesnt move across nodes.

 Best when:

Reducing partitions

After filtering data (less data left)

Before writing to fewer output files

Improving performance by reducing overhead

 Not good for increasing partitions

Spark wont redistribute data evenly.

 2. repartition()
 Used to increase OR decrease partitions

(e.g., 10  50 or 50  10)

 FULL SHUFFLE (wide transformation)

Data is evenly redistributed across partitions.

 Best when:

Increasing partitions

Preparing for heavy parallel processing

Fixing skew

Preparing for joins / aggregations

Ensuring balanced partitions

 Slower than coalesce (due to shuffle)

In [ ]:
emp_partitioned = emp.coalesce(200)
emp_partitioned.rdd.getNumPartitions()
# coalesce cant increase the num of partition

2

In [ ]:
emp_partitioned = emp.coalesce(1)
emp_partitioned.rdd.getNumPartitions()
# coalesce cant increase the num of partition

1

In [ ]:
# Repartition of data using repartition & coalesce for one column
emp_partitioned = emp.repartition(4, "department_id")

In [ ]:
# Find the partition info for partitions and reparition
from pyspark.sql.functions import spark_partition_id

emp_1 = emp.withColumn("partition_num", spark_partition_id())
emp_1.show()

+-----------+-------------+-------------+---+------+------+----------+-------------+
|employee_id|department_id|         name|age|gender|salary| hire_date|partition_num|
+-----------+-------------+-------------+---+------+------+----------+-------------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|            0|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|            0|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|            0|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|            0|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|            0|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|            0|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|            0|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|            0|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|            0|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|            0|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|            1|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|            1|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|            1|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|            1|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|            1|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|            1|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|            1|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|            1|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|            1|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|            1|
+-----------+-------------+-------------+---+------+------+----------+-------------+

In [ ]:
# Find the partition info for partitions and reparition
from pyspark.sql.functions import spark_partition_id

emp_1 = emp.repartition(4, "department_id").withColumn("partition_num", spark_partition_id())
emp_1.show()

+-----------+-------------+-------------+---+------+------+----------+-------------+
|employee_id|department_id|         name|age|gender|salary| hire_date|partition_num|
+-----------+-------------+-------------+---+------+------+----------+-------------+
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|            0|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|            0|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|            0|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|            0|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|            0|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|            0|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|            1|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|            1|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|            2|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|            2|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|            2|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|            2|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|            2|
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|            3|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|            3|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|            3|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|            3|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|            3|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|            3|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|            3|
+-----------+-------------+-------------+---+------+------+----------+-------------+

Till lecture 11 ease with data - repartition & Joins